*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    margin: 0;
    background-color:white;
    min-height: 100vh;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
.base-logo {
    display: block;
    width: 32.15%;
    max-width: 180px;
    height: auto;
    margin-left: 8.533%;
    cursor: pointer;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    text-transform: uppercase;
    display: block;
    width: 90%;
    margin: 16px auto 24px auto;
    font-size: 40px;
    letter-spacing: 10px;   
    color: hsl(0, 6%, 24%);
    text-align: center;
    max-width: 445px;
}

p {
    display: block;
    margin-inline: auto;
    font-size: 14px;
    color: hsl(0, 36%, 70%);
    text-align: center;
    line-height: 160%;
    letter-spacing: 50%;
    max-width: 445px;
    margin-left: 5%;
    margin-right: 5%;

}

.hero-desktop {
    display: none;
}
.hero-mobile {
    display: flex;
    width: 100%;
    height: auto;
}
.form {
    display: block;
    margin: 32px auto;
    position: relative;
    width:100%;
    max-width: 445px;
}


.emailarea {
    display: block;
    margin-inline: auto;
    width:100%;
    max-width: 445px;
    height: 48px;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 56px;
    padding: 16px 24px;
    font-family: inherit;
    background-color: transparent;
    margin-bottom: 20px;
}
 .submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 21.7%;
    max-width: 100px;
    border-radius: 56px;
    border: 0;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    position: relative;
    z-index: 2;
    bottom: 68px;
    margin-inline: auto 0px;
    box-shadow: 0px 8px 8px hsl(0, 36%, 70%, 30%);
    cursor: pointer;
}
#error {
    color: red;
   
}
@media (min-width: 800px) {
    main {
        display: flex;
    }
    .hero-mobile {
        display: none;
    }
    .hero-desktop {
    display: flex;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    }
    .base-logo {
    margin-top: 4rem;
    margin-left: 20.24%;
    width: 32.15%;
    margin-bottom: 7rem;
    }
    .section-1 {
        max-width: 50%;
    }
    .section-2 {
        max-width: 50%;
    }
    article {
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .form {
        max-width: 350px;
    }
    
}
@media (min-width: 1200px) {

    article {
        margin-left: 0;
    }
    .form {
        max-width: 445px;
    }
    .section-1 {
        max-width: 60%;
    }
    .section-2 {
        margin-inline-start: auto;
    }
    .hero-desktop {
        width: 1000px;
    }
    .base-logo,
    .form,
    h1,
    p {
        margin-left: 5rem;
    }
    h1 {
        margin-left: -2rem;
    }


}
